html, head, body, .contenu{
	width: 100%;
	font-family: 'Hind Madurai', sans-serif;
	text-align: center;
	align-items: center;
	padding: 0;
	margin: 0px;
	height: 100%
}

.noscript {
	color: red;
}

body {
	background: #2f2e2e;
}

.white {
	width: 100%;
	height: 80px;
	background: #2f2e2e;
}

.body {
	 height: 1200px;

}

.container {
	width: 90%;
	margin: auto;
	position: relative;
}

.fond {
	width: 100%;
	height: 100%;
}

h1 {
	color: gray;
	font-size: 50px;
	font-weight: bold;
	width: 700px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 80px;
}

h2 {
    font-size: 30px;
	margin-top: 100px;
	text-align: center;
}


.h2top {
    margin: 0;
}

.titre {
	text-align: center;
	color: gray;
	font-size: 50px;
	font-weight: bold;
	width: 700px;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 80px;
}

.page {
    background: #fff;
    width: 100%;
	height: auto;
	transform: translateY(0);
}

h3 {
    font-size: 28px; 
    text-align: left; 
    height: 25px; 
    font-style: bold; 
    text-align: center;
}

p {
	font-size: 22px;
	text-align: justify;
}

.edd {
    text-decoration: none; 
	font-size: 22px;
	color: rgb(42, 207, 207);
}

.edd:hover {
    color: rgb(56, 150, 150);
}

.ecartement {
    width: 100%;
    height: 80px;
    margin: 0 auto;
}

.bottom {
    width: 100%;
    height: auto;
	background-color: #2F2E2E;
	padding-bottom: 0px;
	display: flex;
}

.bottom__logo {
    width: auto;
    margin: 0 auto;
}

.logo {
    float: left;
	margin: 12px 20px;
}

.icon {
    width: 80%;
    height: 80%;
}

.page {
	background: #fff;
}

@media (max-width: 1100px){
	
	.white {
		height: 120px;
	}

	.page {
		height: auto;
	}

	h1 {
		padding-top: 100px;
	}

	h2 {
        font-size: 3em;
        text-align: left;
        font-weight: 700;
        margin: 0;
        line-height: 3em;
    }

    h3 {
        font-size: 3.2em;
        font-weight: 1200;
    }

    p {
        margin: 0;
        font-size: 2em;
        text-align: left;
        font-weight: lighter;
        line-height: 1.6em;
        color: #000;
    }

    .edd {
        font-size: 32px;
        color: rgb(42, 207, 207);
	}

}

/* reveal*/

.reveal [class*="reveal-"] {
	opacity: 0;
	transform: translateY(30px);
}

.reveal-visible [class*="reveal-"] {
	opacity: 1;
	transform: translateY(0);
	transition: 1s cubic-bezier(.5, 0, 0, 1);
}

.reveal-visible .reveal-2 {
	transition-delay: .2s;
}

.reveal-visible .reveal-3 {
	transition-delay: .3s;
}

.reveal-visible .reveal-4 {
	transition-delay: .4s;
}

.reveal-visible .reveal-5 {
	transition-delay: .5s;
}


