.page {
    background: #fff;
    width: 100%;
    height: auto;
}

.texte {
    width: 60%;
    height: auto;
    margin: 0 auto;
    text-align: justify;
}

.lien {
    font-size: 22px; 
    text-decoration: none;
}

.sponsors {
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    text-align: justify;
}

.disposition {
    width: 1000px;
    height: auto;
    display: flex;
    flex-wrap: wrap;

}

.disposition img {
    width: 500px;
}

.nbr {
    height: 350px;
}

ul {
    list-style-type: disc;
}


@media only screen and (max-width: 1400px) {

    h1 {
		padding-top: 100px;
	}

	h2 {
        font-size: 3em;
        text-align: left;
        font-weight: 700;
        margin: 0;
        line-height: 3em;
    }

    h3 {
        font-size: 3.2em;
        font-weight: 1200;
    }

    p {
        margin: 0;
        font-size: 2em;
        text-align: left;
        font-weight: lighter;
        line-height: 1.6em;
        color: #000;
    }

    .edd {
        font-size: 32px;
        color: rgb(42, 207, 207);
	}


    .lien {
        font-size: 32px;
    }

    .texte {
        width: 90%;
    }

    .disposition {
        width: 900px;
        flex-direction: column;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .sponsors {
        width: 900px;
        height: auto;
    }

    .disposition img {
        padding-top: 50px;
        width: 900px;
    }

    .txtsponsors {
        width: 900px;
    }

    .txtsponsors, .lien, .sponsors h2 {
        font-size: 32px;
    }

    .sponsors h2 {
        padding-bottom: 20px;
    }
    
    .nbr {
        height: 550px;
    }
}