.contact {
    width: 800px;
    height: auto;
    margin: 0 auto;
}

.phone {
    width: 400px;
    height: 250px;
    float: left;
}

.espace {
    height: 65px;
}

.phone1 {
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    
    color: black;
}

.imgphone {
    width: 400px;
    height: 250px;
    background: cover;
    float: right;
    background-image: url(img/contact1.jpg);
}

.mail {
    width: 400px;
    height: 250px;
    float: right;
}

.text {
    margin-top: 0px;
    line-height: 250px;
    text-decoration: none;
    color: black;
    font-style: normal;
}

.imgmail {
    width: 400px;
    height: 250px;
    float: left;
    background-image: url(img/contact2.jpg);
}

.adress {
    width: 400px;
    height: 250px;
    float: left;
}

.text2 {
    margin-top: 0px;
    padding-top: 90px;
    text-decoration: none;
    text-align: center;

}

.adress a {
    text-decoration: none; 
    font-style: normal; 
    color: black;
}

.imgadress {
    width: 400px;
    height: 250px;
    float: right;
    background-image: url(img/contact3.jpg);
}

.nom {
    color: gray; 
    font-size: 22px;
}

.phone, .imgphone, .mail, .imgmail, .adress, .imgadress {
    border-radius: 20px;
}

.text, .text2, .phone .phone1 {
    font-size: 28px;
}

@media (orientation: portrait), (max-width: 1366px) {
    .page {
        height: 100%;
    }

    .ecartement {
        display: none;
    }

    .contact {
        width: 950px;
        height: auto;
    }

    .phone, .imgphone, .mail, .imgmail, .adress, .imgadress {
        width: 475px;
        height: 300px;
        border-radius: 20px;
    }

    .espace {
        height: 70px;
    }

    .phone1 {
        width: 475px;
        height: 80px;
    }

    .phone .nom {
        font-size: 30px;
    }

    .phone .phone1 {
        font-size: 34px;
    }

    .imgphone, .imgmail, .imgmail {
        background-size: cover;
    }

    .text {
        font-size: 34px;
        margin-top: 0px;
        line-height: 300px;
    }

    .text2 {
        font-size: 34px;
        margin-top: 0px;
        padding-top: 120px;    
    }
}

@media (orientation: landscape) {
    .page {
        height: auto;
    }

    .contact {
        width: 950px;
        height: 950px;
    }

    .ecartement {
        display: block;
    }
}