h2 {
    text-align: center;
    font-size: 32px;
    padding: 0;
    padding-bottom: 40px;
    color: gray;
    font-weight: 100;
    margin-top: 0;
}

h3 {
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.addres p {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: lighter;
}

.addres a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.contact {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 200px;
}

#home {
    line-height: 20px;
}

.addres {
    width: 320px;
    height: 760px;
    padding: 20px 40px;
    background: #2f2e2e;
}

.coordonnees {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.coordonnees img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.coordonnees p {
    width: 270px;
    text-align:left;
    height: 40px;
    vertical-align:middle;
    line-height: 40px;
    padding-left: 10px;
    margin: 0;
    margin-bottom: 20px;
}

.formcontainer {
    width: 820px;
    height: 760px;
    padding: 20px 40px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.formcontent {
    width: 375px;
    height: 100px;
}

.formsubject {
    width: 820px;
    height: 100px;
}

.formmessage {
    width: 820px;
    height: 200px;
}

label {
    font-size: 18px;
    height: 60px;
    color: gray;
}

label span {
    color: red;
}

#input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: gray 1px solid;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    outline: none;
}

#subjectinput {
    width: 800px;
    height: 40px;
    border-radius: 5px;
    border: gray 1px solid;
    padding-left: 10px;
    padding-right: 10px;

}

#messageinput {
    width: 800px;
    border-radius: 5px;
    border: gray 1px solid;
    padding: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.file {
    width: 100%;
    height: 80px;
    text-align: left;
}

#fileinput {
    font-size: 14px;
}

.send {
    width: 120px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    background-color: sandybrown;
    border: 1px sandybrown solid;
    border-radius: 5px;
}

.send:hover {
    background: unset;
}

.required {
    color: red;
    font-size: 14px;
    text-align: right;
}

    input {font-size: 16px;}
    textarea {
        font-size: 18px;
        font-family: 'Hind Madurai', sans-serif;
        line-height: 18px;
    }

@media only screen and (max-width: 1300px) {
    .contact {
        flex-direction: column;
        width: 90%;
    }
    
    h1 {
        text-align: center;
        color: gray;
        font-size: 50px;
        font-weight: bold;
        width: 700px;
        margin: 0 auto;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    h3 {
        font-size: 28px;
    }

    .addres p {
        font-size: 24px;
        line-height: 24px;
    }

    .addres {
        width: 90%;
        height: 500px;
    }

    .coordonnees img {
        width: 60px;
        height: 60px;
    }

    .coordonnees p {
        width: 300px;
        height: 60px;
        line-height: 60px;
    }

    .coordonnees a {
        font-size: 24px;
    }

    #home {
        line-height: 30px;
    }

    .formcontainer {
        width: 90%;
    }

    .form {
        padding-top: 100px;
        width: 100%;
    }

    #subjectinput, #messageinput {
        width: 763.8px;
    }

    #fileinput {
        margin-top: 20px;
    }

    input {font-size: 24px;}
    textarea {
        font-size: 24px;
        line-height: 24px;
    }
}