h2 {
    text-align: center;
    font-size: 32px;
    padding: 0;
    padding-bottom: 40px;
    color: gray;
    font-weight: 100;
}

h3 {
    font-size: 24px;
    text-align: left;
    color: #fff;
}

.addres p {
    font-size: 20px;
    line-height: 20px;
    color: #fff;
    font-weight: lighter;
}

.contact {
    margin: 0 auto;
    width: 1300px;
    display: flex;
    flex-wrap: wrap;
}

.home {
    display: flex;
    margin: 12px 0;

}

.home p {
    padding-left: 10px;
    margin: 0;
}

.addres {
    width: 320px;
    height: 660px;
    padding: 20px 40px;
    background: #2f2e2e;
}

.coordonnees {
    display: flex;
    flex-wrap: wrap;
}

.coordonnees img {
    width: 40px;
    height: 40px;
}

.coordonnees p {
    width: 270px;
    text-align:left;
    height: 40px;
    vertical-align:middle;
    line-height: 40px;
    padding-left: 10px;
    margin: 0;
}

.formcontainer {
    width: 820px;
    height: 660px;
    padding: 20px 40px;
}

.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.formcontent {
    width: 400px;
    height: 100px;
}

.formsubject {
    width: 820px;
    height: 100px;
}

.formmessage {
    width: 820px;
    height: 200px;
}

label {
    font-size: 18px;
    height: 60px;
    color: gray;
}

#input {
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: gray 1px solid;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

input:focus {
    outline: none;
}

#subjectinput {
    width: 760px;
    height: 40px;
    border-radius: 5px;
    border: gray 1px solid;
    padding-left: 10px;
    padding-right: 10px;

}

#messageinput {
    width: 760px;
    border-radius: 5px;
    border: gray 1px solid;
    padding: 10px;
    resize: none;
}

textarea:focus {
    outline: none;
}

.send {
    width: 120px;
    height: 40px;
    padding: 0;
    font-size: 12px;
    background-color: sandybrown;
    border: 1px sandybrown solid;
    border-radius: 5px;
}

.send:hover {
    background: unset;
}

.valid
{
   background-image: url('img/phone.png');
   background-repeat: no-repeat;
   background-position : 15px 10px;
   text-align:center;
   color: #390;
   font-weight:bold;
}

@media only screen and (max-width: 1400px) {
    .contact {
        flex-direction: column;
    }
}