.contenu {
    height: 100%;
    background: #fff;
}

.page {
    height: 100%;
}

p {
    text-align: center;
    font-size: 26px;
    width: 90%;
    margin: 0 auto;
}

p a {
    font-size: 26px;
    text-decoration: none;
}
