.page {
    background: #2f2e2e;
}

h1 span {
    font-size: 32px; 
    color: gray;
}

h2 {
    margin-top: 100px;
}

h3 {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

.Le4LTrophy {
	width: 100%;
	height: 100%;
    margin: 0 auto;
    right: 0;
}

.h1top {
    margin: 0;
}

iframe {
    width: 60%; 
    height: 450px;
}

.content {
    width: 100%;
    height: auto;
    background-color: #2F2E2E;
}

.aptexte {
    width: 80%;
    height: auto;
    margin: 0 auto;
    padding: 50px;
    color: white;
}

.chiffres {
	width: 1000px;
	height: 400px;
    margin: 0 auto;
}

.edd {
    text-decoration: none; 
    font-size: 22px;
    color: white;
}

img {
    width: 60%;
}

.edd:hover {
    color: sandybrown;
}

#link {
    text-align: center;
    margin-top: 100px;
}

.trophy2021 {
    width: 100%;
    display: flex;
}

.trophy2021 .texte {
    width: 1200px;
    padding-right: 30px;
    margin: 0;
}

.texte p {
    margin: 0;
}

.trophy2021 img {
    width: 400px;
}

@media (max-width: 1300px) {
    .aptexte {
        width: 90%;
    }

    img {
        width: 100%;
    }

    iframe {
        width: 100%;
        height: 500px;
    }

    #links {
        font-size: 28px;
    }

    h3 {
        font-size: 26px;
    }
}


