.articles {
    width: 800px;
    height: 1700px;
    margin: 0 auto;
}

.button:hover {
    background-color: rgb(202, 102, 36);
    color: rgb(255, 255, 255);
    border: unset;
}

.espacement {
    width: auto;
    height: 75px;
}

.button {
    text-decoration: none; 
    background-color: rgb(230, 115, 39); 
    width: auto; 
    height: auto; 
    padding: 10px; 
    border: unset; 
    color: white; 
    border-radius: 0px; 
    box-shadow: unset;
    margin-bottom: 50px;
}

.date {
    color: gray; 
    font-size: 18px; 
    text-align: left; 
    font-style: italic;
}
