.articles {
    width: 850px;
    height: 1000px;
    background-color: white;
    margin: 0 auto;

}

.button:hover {
    background-color: rgba(230, 115, 39, 0.678);
    color: tan;

}

.espacement {
    width: auto;
    height: 75px;
}


.date {
    color: gray; 
    font-size: 18px; 
    text-align: left; 
    font-style: italic;"
}