.Le4LTrophy {
	width: 1000px;
	height: 900px;
    margin: 0 auto;
    background-color: white;
}


.aptexte {
    width: 750px;
    height: auto;
	margin: 0 auto;
    font-size: 20px;
}

.chiffres {
	width: 1000px;
	height: 400px;
    margin: 0 auto;
}
