.texte {
    width: 900px;
    height: 1200px;
    margin: 0 auto;
    text-align: justify;
}

.lien {
    font-size: 22px; 
    text-decoration: none;
}

.sponsors {
    width: 1000px;
    height: 680px;
    margin: 0 auto;
    text-align: justify;
}

.disposition {
    width: 840px;
    height: auto;
    margin: 0 auto;

}

.numeros {
    float: left;
    padding-top: 65.1px;
}

.emplacements {
    float: right;
}

ul {
    list-style-type: disc;
}

.txtsponsors {
    width: 900px;
    margin: 0 auto;
}

@media only screen and (max-width: 900px) {
    .texte {
        height: 2100px;
    }

    .lien {
        font-size: 28px;
    }
}