.contact {
    width: 800px;
    height: 750px;
    margin: 0 auto;
}

.phone {
    width: 400px;
    height: 250px;
    float: left;
}

.phone1 {
    width: 400px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.text {
    font-size: 25px;
    margin-top: 0px;
    line-height: 250px;
    text-decoration: none;
    color: black;
    font-style: normal;
}

.imgphone {
    width: 400px;
    height: 250px;
    background: cover;
    float: right;
}

.mail {
    width: 400px;
    height: 250px;
    float: right;
}

.imgmail {
    width: 400px;
    height: 250px;
    float: left;
}

.adress {
    width: 400px;
    height: 250px;
    float: left;
}

.text2 {
    font-size: 25px;
    margin-top: 0px;
    padding-top: 83px;
    text-decoration: none;
    text-align: center;

}

.imgadress {
    width: 400px;
    height: 250px;
    float: right;
    background-image: url(contact3.jpg);
}

.test {
    width: 50px;
    height: 50px;
    background-color: black;
}

.nom {
    color: gray; 
    font-size: 18px;
}