
body {
    background-color: white;
}


    
.Louis, .Tom {
        width: 800px;
        height: 300px;
        margin: 0 auto;
        background-color: white;
        text-align: center;
        align-items: center;
        vertical-align: middle;
        padding-top: -50px;
       
 }

    
.texte1 {
    float: right;
    font-size: 18px;
    height: 250px;
    width: 500px;
    background-color: white;
    text-align: left;
    text-align: justify;
}
.texte2 {
    float: left;
    font-size: 18px;
    height: 250px;
    width: 500px;
    background-color: white;
    text-align: right;
}
